
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-20"></div>
<div style="width:94%; height:auto; margin:0 auto;">
    <h4>系统说明</h4>
    <div>.NetCore 快速开发后台框架</div>
    <div>开发技术：.NetCore 2.1 + MSSQL 2012</div>
    <div>开发工具：Visual Studio 2017</div>
    <p> </p>
    <div>安装说明：</div>
    <div>第一步：还原数据库。</div>
    <div>第二步：修改数据库链接地址。</div>
    <p> </p>
    <div>使用配置：</div>
    <div>数据库链接配置：系统配置文件appsettings.json ConnectionStrings节点： "SqlServerConnection": "Server=127.0.0.1;User Id=sa;Password=123456;Database=LdCms_Db"</div>
    <p> </p>
    <div>官方QQ群：</div>
    <div><img src="~/admin/static/h-ui.admin/images/ldcms-qq-group.png" /></div>
</div>


