
@{
    ViewData["Title"] = "Developing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid page-404 minWP text-c">
    <p class="error-title">
        <i class="Hui-iconfont va-m" style="font-size:80px">&#xe647;</i><span class="va-m"></span>
    </p>
    <p class="error-description">正在开发中，敬请期待！</p>
</section>

