
@{
    ViewData["Title"] = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid page-404 minWP text-c">
    <p class="error-title">
        <i class="Hui-iconfont va-m" style="font-size:80px">&#xe688;</i><span class="va-m"></span>
    </p>
    <p class="error-description">@ViewData["FuncID"]</p>
    <p class="error-description">@ViewData["Message"]</p>
</section>
