@charset "utf-8";
/* 你自己的样式 */

.clear {
    /*display:inline;*/
    clear: both;
}


.admin-add-top-tips {
    border: 1px solid #f6a320;
    background-color: #fbf5d0;
    color: #666666;
    padding: 5px 10px;
    margin: 0 auto;
    width: 90%;
}